<h2>Test 1</h2>

<switch expression="2">
	<case value="1"><p>Should not display 1.</p></case>
	<case value="2"><p>Should display.</p></case>
	<case value="3"><p>Should not display 2.</p></case>
</switch>

<h2>Test 2</h2>

<switch expression="4">
	<case value="1"><p>Should not display 1.</p></case>
	<case value="2"><p>Should not display 2.</p></case>
	<case value="3"><p>Should not display 3.</p></case>
	<default><p>Should display.</p></default>
</switch>

<h2>Test 3</h2>

@{ string errorResult = null; }
<switch expression="4">
	@try
	{
		<case value="1"><p>Should not display 1.</p></case>
		<case value="2"><p>Should not display 2.</p></case>
		<case value="2"><p>Should not display 3.</p></case>
		<case value="2"><p>Should not display 4.</p></case>
	}
	catch (LogicTagHelperException ex)
	{
		errorResult = $"Expected exception encountered: '{ex.Message}'.";
	}
</switch>
@if (!string.IsNullOrWhiteSpace(errorResult))
{
	<p>@errorResult</p>
}

<h2>Test 4</h2>

@{ errorResult = null; }
<switch expression="3">
	@try
	{
		<case value="1"><p>Should not display 1.</p></case>
		<case value="2"><p>Should not display 2.</p></case>
		<default><p>Should not display 3.</p></default>
		<default><p>Should not display 4.</p></default>
	}
	catch (LogicTagHelperException ex)
	{
		errorResult = $"Expected exception encountered: '{ex.Message}'.";
	}
</switch>
@if (!string.IsNullOrWhiteSpace(errorResult))
{
	<p>@errorResult</p>
}

<h2>Test 5</h2>

@{
	var stringVal = "some string";
	var result = string.Empty;
}
<switch expression="2">
	@try
	{
		<case value="1"><p>Should not display 1.</p></case>
		<case value="@stringVal"><p>Should not display 2.</p></case>
	}
	catch (LogicTagHelperException ex)
	{
		result = $"Expected exception encountered: {ex.Message}.";
	}
</switch>
<p>@result</p>

<h2>Test 6</h2>

@{ result = string.Empty; }
<switch>
	@try
	{
		<case value="1"><p>Should not display.</p></case>
	}
	catch (LogicTagHelperException ex)
	{
		result = $"Expected exception encountered: {ex.Message}.";
	}
</switch>
<p>@result</p>

<h2>Test 7</h2>

@{ result = string.Empty; }
<switch>
	@try
	{
		<default><p>Should not display.</p></default>
	}
	catch (LogicTagHelperException ex)
	{
		result = $"Expected exception encountered: {ex.Message}.";
	}
</switch>
<p>@result</p>
